<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>List of Contacts</h2>

      <!-- Add contact -->
      <a href="/contacts/add" class="btn btn-primary mb-2">Tambah Contact</a>

      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>

      <!-- Table Data Contacts -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">No Hp</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger" role="alert">
                <p>data contact tidak ada</p>
                <a href="/" class="alert-link fw-light">&laquo;Back to home</a>.
              </div>
            </td>
          </tr>
          <% } %> <% contacts.forEach((contact,i) => { %>

          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.noHp %></td>
            <td>
              <a
                href="contacts/<%= contact.nama  %>"
                class="btn btn-success badge rounded-pill"
                ><i class="bi bi-info-circle"></i> action</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <!-- End of table -->
    </div>
  </div>
</div>
