<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Details Contact</h2>
      <div class="card" style="width: 18rem">
        <% if (!contact) { %>
        <div class="alert alert-danger" role="alert">
          <p>details nama contact tidak ada</p>
          <a href="/contacts" class="alert-link fw-light"
            >&laquo;Back to contacts page</a
          >.
        </div>
        <% } else{ %>
        <div class="card-body">
          <h6 class="card-title"><%= contact.nama %></h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%= contact.noHp %>
          </h6>
          <p class="card-text"><%= contact.email %></p>
          <!-- <a
            href="/contacts/delete/<%= contact.nama %>"
            class="btn btn-danger badge"
            onclick="confirm('Yakin?')"
            >Hapus</a
          > -->

          <form
            action="/contacts?_method=DELETE"
            method="post"
            class="d-inline"
          >
            <input type="hidden" name="nama" value="<%= contact.nama %>" />
            <button
              type="submit"
              class="btn btn-danger badge"
              onclick="return confirm('Yakin?')"
            >
              Hapus
            </button>
          </form>
          <a
            href="/contacts/update/<%= contact.nama %>"
            class="btn btn-warning badge"
            >Update</a
          >
          <a href="/contacts" class="card-link d-block"
            >back to contacts page</a
          >
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
